/***** BASE STYLES *****/

body {
    font-family: 'Source Sans Pro', sans-serif;
}

#about, #work, #contact {
    height: 600px;
}

/***** GRID *****/

.full-width {
    float: left;
    margin: 0 auto;
    width: 1200px;
}

.half-width {
    float: left;
    margin: 0 auto;
    width: 600px;
}

.third-width {
    float: left;
    margin: 0 auto;
    width: 400px;
}

/*********HEADER***********/

header {
    background: url('../img/hero.png');
    background-size: 100% auto;
    height: 725px;
    width: 1275px;
}

header h1{
    font-family: 'Lora', cursive;
    font-size: 30pt;
    padding: 50px 0px 0px 150px;
}

#name {
    color: #bbc085;
}

nav {
    float: right;
    padding: 75px 40px;
}
nav ul li{
    color: #898989;
    display: inline-block;
    font-size: 18pt;
    padding-left: 80px;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a {
    color: #898989;
    text-decoration: none;
}

#intro {
    clear: both;
    color: #9b9b9b;
    font-family: 'Lora', serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 80px;
    padding: 20px 0 0 150px;
    width: 1000px;
}

#intro span{
    color: #2b2b2b;
}

/********ABOUT**********/

#about .full-width {
    padding: 80px 0px 125px 75px;
}

#about h2 {
    color: #2b2b2b;
    font-family: 'Lora', serif;
    font-size: 36pt;
    padding-left: 25px;
}

#about p {
    color: #7f7f7f;
    font-size: 20pt;
    line-height: 40px;
    padding-left: 25px;
    padding-right: 40px;
}


/**********WORK**********/

#work .full-width {
    background-color: #f9ceb7;
    padding: 150px 0px 150px 75px;
    text-align: center;
    width: 1200px;
}

#work img {
    align-items: center;
    margin: 0px 0px 0px -50px;
    padding-bottom: 30px;
}

#work h3 {
    font-size: 23pt;
    margin: 0px 0px 0px 50px;
    width: 245px;
}

#work p {
    color: #2b2b2b;
    font-family: 'Lora';
    font-size: 18pt;
    line-height: 36px;
    width: 350px;
}

/********CONTACT***********/

#contact {
    background-color: #ebebeb;
    padding: 150px 0px 150px 75px;
    width: 1200px;
}

#contact .full-width {
    padding: 110px 0;
}

#contact-image {
    border: 12px solid #ffffff;
}

#envelope {
    padding: 0 10px 0 115px;
}

#contact h2 {
    font-family: Lora;
    font-size: 36pt;
}
#contact #email-header{
    font-size: 32pt;
    font-weight: 400;
    margin: -30px 0 5px 0;
}

#contact #socialmedia-header {
    font-size: 29pt;
    font-weight: bold;
    margin: 40px 0 0 0;
}

#contact a {
  color: #c49075;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

#contact ul {
    list-style: none;
}

#contact ul li {
     display: inline-block;
}

#contact ul img {
    padding-right: 48px;
}
